[submodule "external/desk"]
	path = external/desk
	url = https://github.com/iammer/desk.git
[submodule "external/z"]
	path = external/z
	url = https://github.com/rupa/z.git
[submodule "external/bash-sensible"]
	path = external/bash-sensible
	url = https://github.com/mrzool/bash-sensible.git
[submodule "external/bash-snippets"]
	path = external/bash-snippets
	url = https://github.com/alexanderepstein/Bash-Snippets.git
