[submodule "vim/bundle/vim-pathogen"]
	path = vim/bundle/vim-pathogen
	url = git://github.com/tpope/vim-pathogen
[submodule "vim/bundle/vim-surround"]
	path = vim/bundle/vim-surround
	url = git://github.com/tpope/vim-surround
[submodule "vim/bundle/ctrlp.vim"]
	path = vim/bundle/ctrlp.vim
	url = git://github.com/kien/ctrlp.vim
[submodule "vim/bundle/emmet-vim"]
	path = vim/bundle/emmet-vim
	url = git://github.com/mattn/emmet-vim
[submodule "vim/bundle/nerdtree"]
	path = vim/bundle/nerdtree
	url = git://github.com/scrooloose/nerdtree
[submodule "vim/bundle/vim-colorschemes"]
	path = vim/bundle/vim-colorschemes
	url = git://github.com/flazz/vim-colorschemes
[submodule "vim/bundle/bufexplorer"]
	path = vim/bundle/bufexplorer
	url = git://github.com/corntrace/bufexplorer
	ignore = dirty
[submodule "vim/bundle/spin.vim"]
	path = vim/bundle/spin.vim
	url = git@github.com:iammer/spin.vim
[submodule "vim/bundle/ReplaceWithRegister"]
	path = vim/bundle/ReplaceWithRegister
	url = https://github.com/vim-scripts/ReplaceWithRegister.git
